In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ner_dataset.csv', encoding='unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [3]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
        
        
    idx2tok = {idx:tok for idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok

token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [4]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)

In [5]:
data.head()

    Sentence #           Word  POS Tag  Word_idx  Tag_idx
0  Sentence: 1      Thousands  NNS   O     25309        0
1          NaN             of   IN   O     24068        0
2          NaN  demonstrators  NNS   O     11271        0
3          NaN           have  VBP   O     13627        0
4          NaN        marched  VBN   O      2981        0

In [6]:
#fillna
data_fillna = data.fillna(method = 'ffill', axis=0)

#groupby and collect columns
data_group = data_fillna.groupby(
['Sentence #'], as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))

#Visualize data
data_group.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  import sys

        Sentence #  ...                                            Tag_idx
0      Sentence: 1  ...  [0, 0, 0, 0, 0, 0, 14, 0, 0, 0, 0, 0, 14, 0, 0...
1     Sentence: 10  ...  [5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2    Sentence: 100  ...  [0, 0, 13, 0, 0, 0, 0, 0, 14, 0, 0, 0, 0, 0, 8...
3   Sentence: 1000  ...                  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4  Sentence: 10000  ...  [14, 0, 0, 2, 7, 0, 13, 0, 14, 0, 5, 0, 5, 0, ...

[5 rows x 6 columns]

In [7]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [8]:
def get_pad_train_test_val(data_group, data):
    
    
    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))
    
    #pad tokens (X var)
    tokens = data_group['Word_idx'].to_list()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value=n_token -1)
    
    
    #Pad tags (y var) and covert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value=tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags, = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_, tags_, test_size=0.25, train_size=0.75, random_state=2020)
    
    
    print(
        'train_tokens length : ',len (train_tokens),
        '\ntrain_tags length :',len(train_tags),
        '\ntest_tokens length :',len(test_tokens),
        '\ntest_tags length : ',len(test_tags),
        '\nval_tokens length : ',len(val_tokens),
        '\nval_tags length : ', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags
train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length :  32372
train_tags length : 32372
test_tokens length : 4796
test_tags length :  4796
val_tokens length :  10791
val_tags length :  10791

In [14]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [15]:
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [16]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)


print('input_dim: ', input_dim, '\noutput_dim:', output_dim,
     '\ninput_length:', input_length, '\nn_tags:', n_tags)

input_dim:  35179
output_dim: 64
input_length: 104
n_tags: 17

In [17]:

def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

In [18]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [19]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

WARNING:tensorflow:Layer lstm will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 104, 64)           2251456
_________________________________________________________________
bidirectional (Bidirectional (None, 104, 128)          66048
_________________________________________________________________
lstm_1 (LSTM)                (None, 104, 64)           49408
_________________________________________________________________
time_distributed (TimeDistri (None, 104, 17)           1105
=================================================================
Total params: 2,368,017
Trainable params: 2,368,017
Non-trainable params: 0
_________________________________________________________________
26/26 [==============================] - 43s 2s/step - loss: 0.8169 - accuracy: 0.9188 - val_loss: 0.2846 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.3703 - accuracy: 0.9677 - val_loss: 0.3487 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.3021 - accuracy: 0.9677 - val_loss: 0.4828 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.4033 - accuracy: 0.9673 - val_loss: 0.2513 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.2408 - accuracy: 0.9677 - val_loss: 0.2074 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.2114 - accuracy: 0.9678 - val_loss: 0.1972 - val_accuracy: 0.9682
26/26 [==============================] - 42s 2s/step - loss: 0.2028 - accuracy: 0.9678 - val_loss: 0.1833 - val_accuracy: 0.9681
26/26 [==============================] - 42s 2s/step - loss: 0.1881 - accuracy: 0.9677 - val_loss: 0.1715 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.1772 - accuracy: 0.9678 - val_loss: 0.1656 - val_accuracy: 0.9681
26/26 [==============================] - 42s 2s/step - loss: 0.1719 - accuracy: 0.9678 - val_loss: 0.1751 - val_accuracy: 0.9681
26/26 [==============================] - 43s 2s/step - loss: 0.1737 - accuracy: 0.9678 - val_loss: 0.1611 - val_accuracy: 0.9681
26/26 [==============================] - 42s 2s/step - loss: 0.1626 - accuracy: 0.9678 - val_loss: 0.1564 - val_accuracy: 0.9682
26/26 [==============================] - 42s 2s/step - loss: 0.1568 - accuracy: 0.9678 - val_loss: 0.1539 - val_accuracy: 0.9682
26/26 [==============================] - 42s 2s/step - loss: 0.1584 - accuracy: 0.9678 - val_loss: 0.1723 - val_accuracy: 0.9682
26/26 [==============================] - 42s 2s/step - loss: 0.1565 - accuracy: 0.9678 - val_loss: 0.1544 - val_accuracy: 0.9682
26/26 [==============================] - 42s 2s/step - loss: 0.1555 - accuracy: 0.9679 - val_loss: 0.1520 - val_accuracy: 0.9682
26/26 [==============================] - 42s 2s/step - loss: 0.1457 - accuracy: 0.9679 - val_loss: 0.2308 - val_accuracy: 0.9683
26/26 [==============================] - 41s 2s/step - loss: 0.1538 - accuracy: 0.9679 - val_loss: 0.1398 - val_accuracy: 0.9683
26/26 [==============================] - 42s 2s/step - loss: 0.1305 - accuracy: 0.9679 - val_loss: 0.1321 - val_accuracy: 0.9683
26/26 [==============================] - 42s 2s/step - loss: 0.1230 - accuracy: 0.9680 - val_loss: 0.1294 - val_accuracy: 0.9683
26/26 [==============================] - 42s 2s/step - loss: 0.1194 - accuracy: 0.9681 - val_loss: 0.1285 - val_accuracy: 0.9684
26/26 [==============================] - 42s 2s/step - loss: 0.1170 - accuracy: 0.9682 - val_loss: 0.1270 - val_accuracy: 0.9685
26/26 [==============================] - 41s 2s/step - loss: 0.1355 - accuracy: 0.9684 - val_loss: 0.1375 - val_accuracy: 0.9688
26/26 [==============================] - 42s 2s/step - loss: 0.1212 - accuracy: 0.9683 - val_loss: 0.1295 - val_accuracy: 0.9688
26/26 [==============================] - 42s 2s/step - loss: 0.1134 - accuracy: 0.9685 - val_loss: 0.1244 - val_accuracy: 0.9689

In [20]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
text = nlp(
'Jim bought 300 shares of Acme Corp. in 2006. And producing an annotated block of text that highlights the names of entities: [Jim]Person bought 300 shares of [Acme Corp.]Organization in [2006]Time. In this example, a person name consisting of one token, a two-token company name and a temporal expression have been detected and classified.State-of-the-art NER systems for English produce near-human performance. For example, the best system entering MUC-7 scored 93.39% of F-measure while human annotators scored 97.60% and 96.95%.[1][2]'
)
displacy.render(text, style = 'ent', jupyter=True)