# Execute Python Syntax

 Python syntax can be executed by writing directly in the Command Line.

In [1]:
print("Hello, World!")

Hello, World!

# Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [2]:
##Example

if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
##Example 
###syntax error: 


if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-3-d5c646856a99>, line 6)

The number of spaces is up to you as a programmer, but it has to be at least one.

# Various DataTypes in Python

Numbers

In [4]:
1+1

2

In [5]:
4*5

20

In [6]:
10/2

5.0

In [7]:
10%2

0

In [8]:
10**2

100

to check the data type

In [9]:
type(1)

int

In [11]:
type(True)

bool

In [12]:
type(10.0)

float

In [10]:
type("Hello")

str

# Strings

strings can be defined by either '' or " ".

In [14]:
"Hello"

'Hello'

In [15]:
type('Hello')

str

Variable assignment

In [22]:
#syntax
#var_name=values

In [25]:
a=10

In [26]:
type(a)

int

In [27]:
a='Welcome'

In [28]:
type(a)

str

In [29]:
## mathematical operation with variable assignment

In [30]:
a=10
b=20

In [32]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))
##print we basically use to display it in our output console

200
0.5
10
200.5

In [33]:
##various ways of printing

In [34]:
print ("Hello")

Hello

In [35]:
first_name='Divesh'
last_name='Kubal'

In [36]:
print("my first name is {} and last name is {}".format(first_name,last_name))

my first name is Divesh and last name is Kubal

In [38]:
#finding length of the string
len('Divesh')

6

# Python Data Structures and Boolean

Boolean

Boolean and Logical Operators

Lists

Comparison operators

Dictionaries

Tuples

Sets

# Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [39]:
bool()

False

In [41]:
print(True, False)

True False

In [42]:
type(True)

bool

In [49]:
my_str = 'Welcome234'

In [52]:
print(my_str.isalnum())#check if all characters are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('W')) #test if string endswith a d
print(my_str.startswith('W')) #test if string startswith H

True
False
False
True
False
False
False
False
True

# Boolean and Logical Operators

In [53]:
True and True

True

In [54]:
True and False

False

In [55]:
True or False

True

In [56]:
True or True

True

In [57]:

str_example='Hello World'
my_str='Divesh'

In [58]:
my_str.isalpha() or str_example.isnum()

True

# Lists


A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

Each element or value that is inside of a list is called an item.

Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [2]:
type([])#anything u define inside the square bracket is list

list

In [3]:

lst_example=[]

In [4]:
type(lst_example)

list

In [5]:
#one more way to create an empty list is to use inbuilt function list()

In [6]:

lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [7]:

len(lst)

6

In [8]:
type(lst)

list

# Append

In [9]:

#.append is used to add elements in the list
lst.append("Divesh")

In [10]:
lst.append(["John","Rick"])

In [11]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Divesh', ['John', 'Rick']]

In [12]:

##Indexing in List
lst[6]

'Divesh'

In [13]:

lst[1:6]

['chemistry', 100, 200, 300, 204]

# Insert

In [14]:

## insert in a specific order

lst.insert(2,"Home")

In [15]:
lst

['Mathematics',
 'chemistry',
 'Home',
 100,
 200,
 300,
 204,
 'Divesh',
 ['John', 'Rick']]

In [16]:
lst.append(["Hello","World"])

In [17]:
lst

['Mathematics',
 'chemistry',
 'Home',
 100,
 200,
 300,
 204,
 'Divesh',
 ['John', 'Rick'],
 ['Hello', 'World']]

In [18]:
lst=[1,2,3]

In [36]:
lst.append([4,5])#nested list

In [20]:
lst

[1, 2, 3, [4, 5]]

# Extend Method

In [21]:
lst=[1,2,3,4,5,6]

In [22]:
lst.extend([8,9])

In [23]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

# Various Operations that we can perform in List

In [24]:
lst=[1,2,3,4,5]

In [25]:
sum(lst)

15

In [26]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Pop() method

In [37]:
lst.pop()#Removes the last element present inside the list

[4, 5]

In [28]:
lst

[1, 2, 3, 4]

In [29]:
lst.pop(0)

1

In [30]:
lst

[2, 3, 4]

# count():Calculates total occurrence of given element of List

In [31]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [32]:

#length:Calculates total length of List
len(lst)

6

In [33]:

# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [34]:

##Min and Max
min(lst)

1

In [35]:

max(lst)

5

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
#defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,4,5}

In [3]:
set_var

{1, 2, 3, 4, 5}

In [4]:
set_var ={"Avengers","IronMan","AntMan"}
print(set_var)

{'AntMan', 'Avengers', 'IronMan'}

In [5]:
type(set_var)

set

In [6]:
##inbuilt functions with sets

set_var.add("Hulk")

In [7]:
print(set_var)

{'AntMan', 'Hulk', 'Avengers', 'IronMan'}

In [8]:
#sets dose not support indexing

set_var[0]

TypeError: 'set' object is not subscriptable

In [31]:
set1={"Avengers","IronMan","Antman"}
set2={"Avengers","IronMan","Antman","Hulk"}

In [28]:
set2.intersection_update(set1)

In [29]:
set2

{'Antman', 'Avengers', 'IronMan'}

In [34]:
##difference(All the common elements in the sets will get reoved)
set2.difference(set1)

{'Hulk'}

In [33]:
set2

{'Antman', 'Avengers', 'Hulk', 'IronMan'}

In [35]:
##difference_update (to update the changes in set)
set2.difference_update(set1)

In [36]:
print(set2)

{'Hulk'}

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [37]:
dict ={}

In [38]:
type(dict)

dict

In [39]:
#lets create dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [40]:
type(my_dict)

dict

In [41]:

##Access the item values based on keys

my_dict['Car1']

'Audi'

In [43]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [45]:

# We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [46]:
#we can also check both the keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [47]:
##adding items in dictionary

my_dict['Car4']='Audi 2.0'

In [48]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [49]:
#replace the value in dictionary
my_dict['Car1']='Maruti'

In [50]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

# Nested Dictionary

In [52]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [53]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [54]:
## Accessing the items in the dictionary


print(car_type['car1'])

{'Mercedes': 1960}

In [55]:

print(car_type['car1']['Mercedes'])

1960

# Tuples

In [56]:
## create an empty Tuples

my_tuple=tuple()

In [57]:

type(my_tuple)

tuple

In [61]:
my_tuple=("ABC","DEF","GHI")

In [62]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('ABC', 'DEF', 'GHI')

In [65]:
##Inbuilt Function
my_tuple.count('ABC')

1

In [66]:

my_tuple.index('GHI')

2